USE [master]
GO
/****** Object:  Database [HOM]    Script Date: 11/05/2023 18:48:38 ******/
CREATE DATABASE [HOM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'workers', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\workers.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'workers_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\workers_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HOM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HOM]
GO
/****** Object:  Table [dbo].[user]    Script Date: 11/05/2023 18:48:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[Id] [varchar](9) NOT NULL,
	[Name] [nchar](15) NOT NULL,
	[Address] [nchar](50) NOT NULL,
	[Birth_Date] [date] NOT NULL,
	[Phone] [nchar](10) NULL,
	[Mobile_Phone] [nchar](10) NOT NULL,
	[PositiveResultDate] [date] NULL,
	[CureDate] [date] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vaccination]    Script Date: 11/05/2023 18:48:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vaccination](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](15) NOT NULL,
	[Manufacturer] [nchar](15) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Vaccination] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccinationDate]    Script Date: 11/05/2023 18:48:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccinationDate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [varchar](9) NOT NULL,
	[VaccinationId] [int] NOT NULL,
	[ReciveDate] [date] NOT NULL,
	[Number] [int] NULL,
 CONSTRAINT [PK_VaccinationDate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VaccinationDate]  WITH CHECK ADD  CONSTRAINT [FK_VaccinationDate_user] FOREIGN KEY([UserId])
REFERENCES [dbo].[user] ([Id])
GO
ALTER TABLE [dbo].[VaccinationDate] CHECK CONSTRAINT [FK_VaccinationDate_user]
GO
ALTER TABLE [dbo].[VaccinationDate]  WITH CHECK ADD  CONSTRAINT [FK_VaccinationDate_Vaccination] FOREIGN KEY([VaccinationId])
REFERENCES [dbo].[Vaccination] ([Id])
GO
ALTER TABLE [dbo].[VaccinationDate] CHECK CONSTRAINT [FK_VaccinationDate_Vaccination]
GO
USE [master]
GO
